@font-face{
    font-family: Lato;
    src: url('./Lato-Light.ttf');
}
@font-face{
    font-family: LatoReg;
    src: url('./Lato-Regular.ttf');
}

.row {
    display: -webkit-box;
    display: flex
}

.row .col {
    -webkit-box-flex: 1;
    flex: 1
}

.logo{
    font-family: LatoReg;
    letter-spacing: 1.4px;
}

.pl-0{
    padding-left: 0 !important;
}

.d-flex{
    display: flex !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
}

.justify-content-center{
    justify-content: center !important;
}

.pt-3{
    padding-top: 1rem !important;
}

.popup-btn-group,
.btn-group {
    text-align: center
}

.popup-btn-group .item,
.btn-group .item {
    display: inline-block
}

.popup-btn-group.full,
.popup-btn-group.btn.more,
.btn-group.full,
.btn-group.btn.more {
    display: -webkit-box;
    display: flex
}

.popup-btn-group.full .item,
.popup-btn-group.btn.more .item,
.btn-group.full .item,
.btn-group.btn.more .item {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    -khtml-flex: 1;
    -moz-flex: 1;
    -o-flex: 1;
    -webkit-box-flex: 1;
    flex: 1
}

.popup-btn-group.full .item:first-child,
.popup-btn-group.btn.more .item:first-child,
.btn-group.full .item:first-child,
.btn-group.btn.more .item:first-child {
    padding-left: 0
}

.popup-btn-group.full .item:last-child,
.popup-btn-group.btn.more .item:last-child,
.btn-group.full .item:last-child,
.btn-group.btn.more .item:last-child {
    padding-right: 0
}

#contents .logobar {
    text-align: center;
    padding: 30px 10px
}

#contents .logobar img {
    height: 10px
}

[data-tabpanel] {
    display: none
}

[data-tabpanel="active"] {
    display: block
}


@-webkit-keyframes tipMove {
    from {
        margin-bottom: 23px
    }
    to {
        margin-bottom: 13px
    }
}

@keyframes tipMove {
    from {
        margin-bottom: 23px
    }
    to {
        margin-bottom: 13px
    }
}

html {
    font-size: 10px
}

@media screen and (min-width: 400px) {
    html {
        font-size: 10.5px
    }
}

@media screen and (min-width: 450px) {
    html {
        font-size: 11px
    }
}

@media screen and (min-width: 550px) {
    html {
        font-size: 12px
    }
}

@media screen and (min-width: 769px) {
    html {
        font-size: 10px
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 12px
    }
}

body {
    background-color: #f9f9f9;
    font-size: 1.4rem
}

@media screen and (min-width: 769px) {
    body .contents {
        padding: 0
    }
    body #wrap {
        padding: 0;
        max-width: 100%
    }
}

#Tutorial {
    position: relative;
    width: 100%;
    overflow-x: hidden
}

.tutorial {
    background-image: url('./images/banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
    .intro{
        .intro_buttons{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            a{
                margin-top: 10px;
                margin-bottom: 10px;
                transition: .2s;
                &:hover{
                    transition: .2s;
                    transform: scale(1.1);
                    box-shadow: 0 0 10px 5px #d5d5d5a6;
                }
            }
        }
        &>div {
            position: absolute;
            left: 20px;
            right: 20px;
            top: 47vh;
            text-align: center
        }
    }
}

.tutorial .intro {
    min-height: 100vh;
    padding: 25px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: relative;
    .intro_header{
        padding: 54px 80px;
        display: flex;
        justify-content: space-between;
    }
    .into_header-auth{
        display: flex;
        align-items: center;
        img{
            margin-right: 10px;
        }
        a{
            text-decoration: unset;
            color: inherit;
        }
    }
    .btn-login {
        background-color: #fff;
        color: #000;
        text-align: center;
        font-size: 2rem;
        height: 6rem;
        width: 100%;
        line-height: 6rem;
        border-radius: 3rem;
        margin: 0 30px;
        padding: 0px 30px;
        text-decoration: none;
    }
    .btn-red{
        background-color: #ED2243;
        color: white;
    }
}

.tutorial .intro .app-download {
    display: none
}

.tutorial .intro .logo {
    text-align: left;
}

@media screen and (max-width: 768.99px) {
    .tutorial {
        background-image: url('./images/banner_mobile.png') !important;
        .intro{
            padding: 0 0 25px 0;
        }
    }
    .tutorial .intro > div{
        position: static;
        padding-top: 300px;
        &.intro_header{
            padding: 0 20px;
            span{
                display: none;
            }
        }
    }
    .service-infos .panel{
        padding-top: 0 !important;
    }
}

@media (-webkit-min-device-pixel-ratio: 3),
(min-resolution: 3dppx),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .tutorial .intro .logo {
        font-size:48px;
    }
}


@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .tutorial .intro .logo {
        font-size:32px;
    }
}

.tutorial .intro h2 {
    line-height: 1.4;
    font-size: 2.4rem;
    margin-bottom: 1.7rem;
    font-weight: bold
}

.tutorial .intro h2 br:nth-child(2) {
    display: none
}


.tutorial .intro .message-withus {
    font-size: 12px;
    margin-top: 1.8rem;
    line-height: 1.5
}

.tutorial .intro .message-withus a {
    display: block;
    text-decoration: underline;
    font-weight: bold
}

@media screen and (min-width: 769px) {
    .tutorial .intro {
        min-height: 0;
        background-image: none !important;
        padding-top: 0rem;
        padding-bottom: 7rem;
        &>div {
            position: static
        }
        .logo {
            margin: 0;
            font-size:44px;
        }
    }
}

@media screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 769px) and (min-resolution: 2dppx),
screen and (min-width: 769px) and (min-resolution: 192dpi) {
    .tutorial .intro .logo {
        font-size: 32px;
    }
}

@media screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 3),
screen and (min-width: 769px) and (min-resolution: 3dppx),
screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 769px) and (min-resolution: 192dpi) {
    .tutorial .intro .logo {
        font-size: 48px;
    }
}

@media screen and (min-width: 769px) {
    .tutorial .intro h2 {
        font-size: 4.17rem
    }
    .tutorial .intro h2 br:nth-child(1) {
        display: none
    }
    .tutorial .intro h2 br:nth-child(2) {
        display: block
    }
    .tutorial .intro h2 br:nth-child(3) {
        display: none
    }
    .tutorial .intro .btn-login {
        max-width: 210px;
        max-height: 50px;
        line-height: 50px;
        font-size: 1.7rem;
    }
    .tutorial .intro .message-withus {
        font-size: 20px;
    }
    .tutorial .intro .message-withus a {
        display: inline
    }
}

.tutorial .coupon-maked {
    background-color: #fff;
    position: relative;
    padding: 90px 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    .product-commission{
        .name{
            font-size: 26px;
            text-align: center;
            margin: 15px 0 35px;
        }
    }
}

.tutorial .coupon-maked.visible .commission-control .bar .active .tooltip {
    opacity: 1
}

.tutorial .coupon-maked>div {
    -webkit-box-flex: 1;
    flex: 1
}

.tutorial .coupon-maked .message-tip {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 24rem;
    margin-left: -12rem;
    margin-bottom: 16px;
    -webkit-animation: tipMove 1s infinite alternate;
    animation: tipMove 1s infinite alternate;
    padding-bottom: 10px
}

.tutorial .coupon-maked .message-tip .message {
    display: block;
    color: #fff;
    padding: 1rem;
    border-radius: 0.8rem;
    font-size: .9em;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    background-color: #00152e;
    line-height: 1.3;
    text-align: center;
    position: relative
}

.tutorial .coupon-maked .message-tip .message:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-top: 8px solid #00152e;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent
}

.tutorial .coupon-maked .product-info {
    text-align: center;
    padding: 0;
}

.tutorial .coupon-maked .product-info .thum img {
    width: 21rem;
    height: 21rem;
    border-radius: 100%
}

.tutorial .coupon-maked .product-info .name {
    margin-top: 0.8rem;
    font-size: 2rem;
    line-height: 1.1
}

.tutorial .coupon-maked .product-info .price {
    font-weight: bold;
    font-size: 1.9rem;
    margin-top: 1rem;
    font-family: Lato, sans-serif
}

.tutorial .coupon-maked .product-commission.visible .commission-control .bar .tooltip {
    opacity: 1
}

.tutorial .coupon-maked .product-commission .commission-control .info-price {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.tutorial .coupon-maked .product-commission .commission-control .info-price p {
    font-size: 1.3rem;
}

.tutorial .coupon-maked .product-commission .commission-control .info-price p span{
    display: block;
    font-family: LatoReg;
    font-size: 2.7rem;
    font-weight: bold;
    line-height: 1.1;
    margin-top: .3rem;
}
.tutorial .coupon-maked .product-commission .commission-control .bar {
    position: relative;
    display: block;
    height: 40px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start
}

.tutorial .coupon-maked .product-commission .commission-control .bar:before {
    background-color: #313131;
    height: 14px;
    border-radius: 7px;
    display: block;
    content: '';
    width: 100%
}

.tutorial .coupon-maked .product-commission .commission-control .bar .tooltip {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 17rem;
    margin-left: -8.5rem;
    margin-bottom: 16px;
    font-size: 1.2rem;
    margin-bottom: 8px;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    opacity: 0;
    -webkit-animation: tipMove 1s infinite alternate;
    animation: tipMove 1s infinite alternate
}

.tutorial .coupon-maked .product-commission .commission-control .bar .tooltip .message {
    display: block;
    color: #fff;
    padding: 1rem;
    border-radius: 0.8rem;
    font-size: .9em;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    background-color: #00152e;
    line-height: 1.3;
    text-align: center;
    position: relative
}

.tutorial .coupon-maked .product-commission .commission-control .bar .tooltip .message:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-top: 8px solid #00152e;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent
}

.tutorial .coupon-maked .product-commission .commission-control .bar .tooltip.hide {
    opacity: 0
}

.tutorial .coupon-maked .product-commission .commission-control .bar .active {
    position: absolute;
    left: 0;
    top: 50%;
    height: 14px;
    border-radius: 7px;
    margin-top: -7px;
    background-color: #ed2243;
    z-index: 10
}

.tutorial .coupon-maked .product-commission .commission-control .bar .active:after {
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-right: -20px;
    border-radius: 100%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.13);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(12%, #fff), color-stop(72%, #ebebeb), to(#f2f2f2));
    background-image: linear-gradient(#fff, #fff 12%, #ebebeb 72%, #f2f2f2)
}

.tutorial .coupon-maked .product-commission .commission-control .bar .range {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%
}

.tutorial .coupon-maked .product-commission .commission-control .bar .range input {
    position: relative;
    top: -50%;
    width: 100%;
    height: 200%;
    opacity: 0;
    z-index: 20;
    cursor: pointer
}

.tutorial .coupon-maked .product-commission .commission-control .info-commission {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.tutorial .coupon-maked .product-commission .commission-control .info-commission p {
    text-align: left;
    font-size: 1.3rem;
    color: #000;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.tutorial .coupon-maked .product-commission .commission-control .info-commission p i{
    font-size: 1.6rem;
    min-width: 30px;
    padding-right: 5px;
    display: inline-block;
    color: #ed2243;
    font-weight: bold;
    font-family: 'Lato', sans-serif
}

.tutorial .coupon-maked .product-commission .commission-control .info-commission p:last-child{
    text-align: right
}

.tutorial .coupon-maked .product-commission .commission-control .info-commission p:last-child i{
    color: #000;
    padding-right: 0;
    padding-left: 5px
}

.tutorial .coupon-maked .product-commission .btn-group {
    position: relative;
    border-top: 1px solid #C4C4C450;
    padding-top: 10px;
    .social_icons{
        display: flex;
        justify-content: space-evenly;
        img{
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    p{
        
        font-size: 18px;
        text-align: center;
    }
}

.tutorial .coupon-maked .product-commission .btn-group .tooltip {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 17rem;
    margin-left: -8.5rem;
    margin-bottom: 16px;
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    font-size: 1.2rem;
    -webkit-animation: tipMove 1s infinite alternate;
    animation: tipMove 1s infinite alternate;
    z-index: 10
}

.tutorial .coupon-maked .product-commission .btn-group .tooltip .message {
    display: block;
    color: #fff;
    padding: 1rem;
    border-radius: 0.8rem;
    font-size: .9em;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    background-color: #00152e;
    line-height: 1.3;
    text-align: center;
    position: relative
}

.tutorial .coupon-maked .product-commission .btn-group .tooltip .message:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-top: 8px solid #00152e;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent
}

.tutorial .coupon-maked .product-commission .btn-group .tooltip.show {
    opacity: 1
}

.tutorial .coupon-maked .product-commission .btn-group .btn-issue {
    overflow: auto;
    width: 100%;
    padding: 1.3rem;
    text-align: center;
    display: block;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-weight: normal;
    font-size: 1.7rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative
}

.tutorial .coupon-maked .product-commission .btn-group .btn-issue span {
    background-color: #ed2243;
    border-radius: 4px;
    height: 2.8rem;
    line-height: 2.8rem;
    display: block;
    padding: 0 1rem;
    margin-right: 0.8rem;
    font-weight: bold
}

.tutorial .coupon-maked .product-commission .btn-group p {
    font-size: 18px;
    margin-top: 1rem;
    letter-spacing: 1.4px;
}

@media screen and (min-width: 769px) {
    .tutorial .coupon-maked {
        min-height: 0;
        background-color: transparent;
        padding-top: 3rem;
        padding-top: 10px;
        padding-bottom: 10vw
    }
    .tutorial .coupon-maked .message-tip {
        display: none
    }
    .tutorial .coupon-maked .box {
        background-color: #fff;
        border-radius: 16px;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: end;
        align-items: flex-end;
        width: 100%;
        max-width: 790px;
        margin: 0 auto;
        height: 332px;
        -webkit-box-flex: 0;
        flex: none
    }
    .tutorial .coupon-maked .product-info {
        // -webkit-box-flex: 4.5;
        // flex: 4.5;
        // padding: 18px;
        // padding: 0;
    }
    .tutorial .coupon-maked .product-info:after {
        display: block;
        content: '';
        clear: both
    }
    .tutorial .coupon-maked .product-info .thum {
        display: block;
    }
    .tutorial .coupon-maked .product-info .thum img {
        width: 100%;
        height: auto;
        border-radius: 0;
        display: block;
    }
    .tutorial .coupon-maked .product-info .name {
        float: left;
        font-size: 1.2rem;
        margin-top: 0;
        margin-left: 10px
    }
    .tutorial .coupon-maked .product-info .price {
        float: right;
        font-size: 1.2rem;
        margin-top: 0;
        line-height: 1.1;
        margin-right: 10px
    }
    .tutorial .coupon-maked .product-commission {
        -webkit-box-flex: 5.5;
        flex: 5.5;
        padding: 25px 30px;
        height: calc(100% - 50px);
        
    }
    .tutorial .coupon-maked .product-commission .btn-group p,
    .tutorial .coupon-maked .product-commission .btn-group .terms-content ol,
    .terms-content .tutorial .coupon-maked .product-commission .btn-group ol,
    .tutorial .coupon-maked .product-commission .btn-group .terms-content ul,
    .terms-content .tutorial .coupon-maked .product-commission .btn-group ul {
        margin-top: .8rem;
        font-size: 18px;
    }
}

.coupon-issue {
    background-color: #1a1a1a;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    left: 100%
}

.coupon-issue.active {
    position: static;
    visibility: inherit
}

.coupon-issue>div {
    width: 100%;
    max-width: 30rem
}

.coupon-issue .txt {
    color: #fff;
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.2
}

.coupon-issue .coupon {
    background-color: #fff;
    border-radius: 17px;
    position: relative;
    padding: 7rem 1rem 3rem 1rem;
    margin-top: 7rem;
    text-align: center
}

.coupon-issue .coupon .thum {
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: 50%;
    margin-left: -5rem;
    top: -5rem;
    border-radius: 100%;
    background-size: cover
}

.coupon-issue .coupon .commission {
    color: #ed2243;
    font-weight: bold;
    font-size: 5rem;
    display: block;
    line-height: 1.1;
    margin-bottom: 3px
}

.coupon-issue .coupon .code {
    font-weight: normal;
    color: #313131
}

.coupon-issue .coupon .label {
    display: block;
    color: #a7b1b9;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.5rem
}

.coupon-issue .coupon .url {
    font-weight: normal;
    font-size: 1.5rem;
    line-break: 1.1
}

.coupon-issue .coupon .url i {
    font-size: 1.8rem;
    color: #a7b1b9
}

@media screen and (min-width: 769px) {
    .coupon-issue {
        padding-top: 7vw;
        padding-bottom: 7vw;
        min-height: 50vh;
        text-align: center
    }
    .coupon-issue>div {
        max-width: 100%
    }
    .coupon-issue .txt br {
        display: none
    }
    .coupon-issue .coupon {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto
    }
}

.coupon-use {
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    left: 100%
}

.coupon-use+.statistics .more {
    display: none
}

.coupon-use.active {
    visibility: inherit;
    position: static
}

.coupon-use.active+.statistics .more {
    display: block
}

.coupon-use .word {
    margin: 0 4rem;
    font-size: 2.6rem;
    line-height: 1.4
}

.coupon-use .word a {
    color: #146bd1;
    font-weight: bold;
    text-decoration: underline
}

.coupon-use .desc {
    margin: 0 4rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    text-indent: -7px;
    padding-left: 7px
}

.coupon-use .desc i {
    font-weight: bold;
    color: #e81637
}

.coupon-use .btn-group {
    padding: 0 2.6rem;
    margin-top: 3rem;
    margin-bottom: 6rem
}

.coupon-use .btn-group .btn-login {
    display: block;
    min-width: 310px;
    height: 5.5rem;
    line-height: 5.5rem;
    border-radius: 4.2rem;
    background-color: #ffd800;
    text-align: center;
    font-weight: bold;
    font-size: 1.9rem
}

@media screen and (min-width: 769px) {
    .coupon-use {
        min-height: 50vh;
        padding-top: 7vw;
        padding-bottom: 7vw;
        text-align: center
    }
    .coupon-use+.statistics .more {
        display: block
    }
    .coupon-use .word br:nth-child(2) {
        display: none
    }
    .coupon-use .word br:nth-child(5) {
        display: none
    }
    .coupon-use .btn-group {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto
    }
    .coupon-use .btn-group .btn-login {
        display: block
    }
    .coupon-use.abtest2 .word br {
        display: block
    }
    .coupon-use.abtest2 .btn-group {
        max-width: 450px
    }
}

.statistics {
    background-color: #fff;
    position: relative;
    min-height: 100vh;
    padding: 4rem 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    .statustics_head{
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
    }
    .statistics_from{
        text-align: center;
        color: #A7B1B9;
        font-size: 14px;
    }
}

.statistics .more {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    text-align: center;
    font-size: 1.1em;
    -webkit-animation: tipMove 1s infinite alternate;
    animation: tipMove 1s infinite alternate;
    padding-bottom: 30px
}

.statistics .more:after {
    width: 7px;
    height: 7px;
    display: block;
    content: '';
    margin: 0 auto;
    margin-top: 5px;
    border: 1px solid #707070;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-width: 0 1px 1px 0
}

.statistics .logo {
    text-align: center;
    font-weight: 600;
    margin: 0;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .statistics .logo {
        font-size:32px;
    }
}

@media (-webkit-min-device-pixel-ratio: 3),
(min-resolution: 3dppx),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .statistics .logo {
        font-size:48px;
    }
}

.statistics .datas {
    padding: 0 4.8rem
}

.statistics .datas li {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.5rem 0;
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s
}

.statistics .datas li.active {
    opacity: 1
}

.statistics .datas li .label {
    font-weight: bold;
    color: #949eaf;
    font-size: 1.6rem;
    margin-bottom: 17px
}

.statistics .datas li .count {
    display: block;
    font-family: Anton, sans-serif;
    font-size: 6rem;
    line-height: 1.1
}

.statistics .datas li .change {
    color: #a7b1b9
}

.statistics .datas li .change .up {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 8px solid #e81637;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent
}

.statistics .datas li .change .week-count {
    font-family: Anton, sans-serif;
    color: #000;
    font-size: 1.4rem
}

.statistics .datas li>div {
    text-align: right
}

@media screen and (min-width: 769px) {
    .statistics {
        display: block;
        min-height: 0;
        padding-top: 7vw;
        padding-bottom: 7vw
    }
    .statistics .more {
        position: static;
        -webkit-animation: none;
        animation: none
    }
    .statistics .more:after {
        display: none
    }
    .statistics .logo {
        margin: 0 auto;
    }
}

@media screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 769px) and (min-resolution: 2dppx),
screen and (min-width: 769px) and (min-resolution: 192dpi) {
    .statistics .logo {
        font-size:32px;
    }
}

@media screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 3),
screen and (min-width: 769px) and (min-resolution: 3dppx),
screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 769px) and (min-resolution: 192dpi) {
    .statistics .logo {
        font-size:48px;
    }
}

@media screen and (min-width: 769px) {
    .statistics>div {
        max-width: 1200px;
        margin: 0 auto
    }
    .statistics .datas {
        display: -webkit-box;
        display: flex;
        margin-top: 10%;
        padding-left: 0;
        padding-right: 0
    }
    .statistics .datas li {
        position: relative;
        -webkit-box-flex: 1;
        flex: 1;
        display: block
    }
    .statistics .datas li .label {
        display: block;
        text-align: center
    }
    .statistics .datas li .count {
        font-size: 6rem
    }
    .statistics .datas li:last-child:after {
        display: none
    }
    .statistics .datas li>div {
        text-align: center
    }
}

.statistics .date {
    text-align: center;
    color: #a7b1b9;
    font-weight: normal;
    margin-top: 30px;
    font-size: 1.3rem
}

.service-infos .panel {
    padding: 7rem 0;
    overflow: hidden
}

.service-infos .panel .inner {
    max-width: 1100px;
    margin: 0 auto
}

.service-infos .panel .titlebar {
    padding: 0 3.5rem
}

.service-infos .panel .titlebar h3 {
    font-size: 3.4rem;
    line-height: 1.3;
}

.service-infos .panel .titlebar h3 i {
    display: block;
    font-weight: 200
}

.service-infos .panel .titlebar .desc {
    line-height: 1.7;
    margin-top: 10px
}

@media screen and (min-width: 769px) {
    .service-infos .panel .titlebar h3 {
        font-size: 4rem
    }
}

@media screen and (min-width: 1024px) {
    .service-infos .panel {
        padding: 10rem 0 !important
    }
}

.service-infos .panel .obj {
    position: relative;
    display: -webkit-box;
    display: flex;
    margin-top: 5rem
}

.service-infos .panel .obj.obj4 {
    -webkit-box-pack: end;
    justify-content: flex-end
}

.service-infos .panel .obj.obj4 .area.img {
    -webkit-box-ordinal-group: 2;
    order: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    position: relative;
    height: 626px
}

.service-infos .panel .obj.obj4 .area.img img {
    left: auto;
    right: 0;
    transform: matrix(1, 0, 0, 1, 0, 30);
}

.service-infos .panel .obj.obj4 .area.label {
    -webkit-box-ordinal-group: 3;
    order: 2
}

@media screen and (min-width: 1024px) {
    .service-infos .panel .obj.obj4 .area.label {
        max-width: 100%;
        -webkit-box-flex: 0;
        flex: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0
    }
}

.service-infos .panel .obj.obj4 .area.label .subject {
    font-size: 2.5rem
}

.service-infos .panel .obj.obj4 .area.label .subject .line {
    bottom: auto;
    top: 100%;
    margin-bottom: 0;
    margin-top: 10px
}

.service-infos .panel .obj.obj4 .area.label .subject .txt {
    top: auto;
    bottom: 0
}

.service-infos .panel .obj.obj4 .area.label .subject:first-child {
    top: 0;
    width: 470px;
    margin-top: -40px
}

.service-infos .panel .obj.obj4 .area.label .subject:first-child .line .l.l1 {
    width: 191px;
    -webkit-transform: rotate(-150deg);
    transform: rotate(-150deg);
    bottom: 2px
}

.service-infos .panel .obj.obj4 .area.label .subject:nth-child(2) {
    top: 470px;
    width: 270px;
    margin-top: -102px
}

.service-infos .panel .obj.obj4 .area.label .subject:nth-child(2) .trigger {
    margin-right: 100px
}

.service-infos .panel .obj.obj4 .area.label .subject:nth-child(2) .line .l.l1 {
    width: 120px;
    -webkit-transform: rotate(-116deg);
    transform: rotate(-116deg);
    bottom: 5px;
    right: 5px
}

.service-infos .panel .obj.obj4 .area.label .subject:nth-child(3) {
    top: 100%;
    width: 375px;
    margin-top: 60px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    left: auto;
    right: 0;
    text-align: left;
    padding-left: 32px;
    line-height: 1.3
}

.service-infos .panel .obj.obj4 .area.label .subject:nth-child(3) .trigger {
    top: -150px
}

.service-infos .panel .obj.obj4 .area.label .subject:nth-child(3) .txt {
    left: auto;
    top: 50px
}

.service-infos .panel .obj.obj4 .area.label .subject:nth-child(3) .line {
    bottom: 100%;
    top: auto;
    left: 50px;
    margin-left: 0;
    margin-bottom: 10px
}

.service-infos .panel .obj.obj4 .area.label .subject:nth-child(3) .line .l.l1 {
    width: 280px;
    -webkit-transform: rotate(105deg);
    transform: rotate(105deg);
    bottom: 9px;
    right: 3px
}

@media screen and (min-width: 1024px) {
    .service-infos .panel .obj.obj4 .area.label .subject {
        top: auto;
        font-size: 14px
    }
    .service-infos .panel .obj.obj4 .area.label .subject .line {
        left: 100%;
        bottom: auto;
        top: 50%;
        margin-top: -5px;
        margin-left: 5px;
        margin-bottom: 0
    }
    .service-infos .panel .obj.obj4 .area.label .subject:nth-child(1) {
        top: 386px;
        margin-right: 88px;
        margin-top: 0
    }
    .service-infos .panel .obj.obj4 .area.label .subject:nth-child(1) .line .l.l1 {
        width: 287px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        bottom: 5px
    }
    .service-infos .panel .obj.obj4 .area.label .subject:nth-child(2) {
        top: 570px;
        margin-top: 0;
        margin-right: 85px
    }
    .service-infos .panel .obj.obj4 .area.label .subject:nth-child(2) .line .l.l1 {
        width: 120px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        bottom: 5px
    }
    .service-infos .panel .obj.obj4 .area.label .subject:nth-child(3) {
        left: -459px;
        top: auto;
        right: auto;
        font-size: 14px;
        bottom: 0;
        -webkit-transform-origin: 50% 50% 0;
        transform-origin: 50% 50% 0;
        margin-top: 0;
        padding-left: 0;
        color: #146bd1
    }
    .service-infos .panel .obj.obj4 .area.label .subject:nth-child(3) br {
        display: none
    }
    .service-infos .panel .obj.obj4 .area.label .subject:nth-child(3) .trigger {
        top: auto
    }
    .service-infos .panel .obj.obj4 .area.label .subject:nth-child(3) .txt {
        left: 80px;
        top: auto
    }
    .service-infos .panel .obj.obj4 .area.label .subject:nth-child(3) .line {
        bottom: auto;
        top: 50%;
        left: 100%;
        margin-left: 5px;
        margin-top: -5px
    }
    .service-infos .panel .obj.obj4 .area.label .subject:nth-child(3) .line .l.l1 {
        width: 355px;
        -webkit-transform: rotate(143deg);
        transform: rotate(143deg);
        bottom: 6px
    }
}

.service-infos .panel .obj.obj2 {
    margin-top: 30px
}

.service-infos .panel .obj.obj2 .area.label .subject:first-child {
    top: 0;
    width: 330px;
    margin-top: 0
}

.service-infos .panel .obj.obj2 .area.label .subject:first-child .line .l.l1 {
    width: 297px;
    bottom: 7px;
    right: 3px;
    -webkit-transform: rotate(136deg);
    transform: rotate(136deg)
}

.service-infos .panel .obj.obj2 .area.label .subject:last-child {
    width: 400px;
    top: 330px;
    margin-top: 0
}

.service-infos .panel .obj.obj2 .area.label .subject:last-child .line .l.l1 {
    width: 118px;
    bottom: 2px;
    right: 4px;
    -webkit-transform: rotate(87deg);
    transform: rotate(87deg)
}

@media screen and (min-width: 1024px) {
    .service-infos .panel .obj.obj1 .area.label .subject {
        margin-right: 83px;
        top: auto;
        bottom: 120px
    }
    .service-infos .panel .obj.obj2 .area.label .subject:first-child {
        margin-right: 396px;
        top: auto;
        bottom: 100px
    }
    .service-infos .panel .obj.obj2 .area.label .subject:first-child .line .l.l1 {
        width: 535px;
        -webkit-transform: rotate(170deg);
        transform: rotate(170deg);
        bottom: 6px
    }
    .service-infos .panel .obj.obj2 .area.label .subject:last-child {
        margin-right: 420px;
        top: auto;
        bottom: 20px
    }
    .service-infos .panel .obj.obj2 .area.label .subject:last-child .line .l.l1 {
        width: 460px;
        -webkit-transform: rotate(176deg);
        transform: rotate(176deg);
        bottom: 5px
    }
}

.service-infos .panel .obj .area.img {
    position: relative;
    min-width: 300px;
    max-width: 300px;
    height: 610px
}

.service-infos .panel .obj .area.img img {
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%
}

.service-infos .panel .obj .area.img .blank {
    width: 100%
}

.service-infos .panel .obj .area.label {
    min-width: 200px;
    max-width: 200px;
    position: relative;
    z-index: 100
}

.service-infos .panel .obj .area.label .subject {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    font-size: 32px;
    width: 300px;
    height: 43px;
    text-align: center;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    line-height: 1.1
}

.service-infos .panel .obj .area.label .subject .trigger {
    position: absolute;
    right: 100%;
    top: 0;
    margin-right: 280px;
    height: 1px;
    width: 1px
}

.service-infos .panel .obj .area.label .subject .txt {
    position: absolute;
    left: 80px;
    top: 0;
    width: 100%;
    z-index: 10;
    transform: matrix(1, 0, 0, 1, -80, 0);
}

.service-infos .panel .obj .area.label .subject .line {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
    margin-left: -5px
}

.service-infos .panel .obj .area.label .subject .line .dot {
    display: block;
    border: solid 1px #a7b1b9;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5
}

.service-infos .panel .obj .area.label .subject .line .l {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #a7b1b9;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%
}

.service-infos .panel .obj .area.label .subject .line .l:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5.5px;
    border: solid 1px #a7b1b9;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%
}

.service-infos .panel .obj .area.label .subject .line .l.l1 {
    width: 250px;
    bottom: 3px;
    right: 1px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg)
}

.service-infos .panel .obj .area.label .subject .line .l.l2 {
    width: 130px;
    right: 5.5px;
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg)
}

.service-infos .panel .obj .area.label .subject .line .l.l3 {
    width: 240px;
    right: 5.5px;
    -webkit-transform: rotate(95deg);
    transform: rotate(95deg)
}

.service-infos .panel .obj .area.label .subject .line .l.l4 {
    width: 305px;
    bottom: 1px;
    right: 8px;
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg)
}

.service-infos .panel .obj .area.label .subject .line .l.l5 {
    width: 230px;
    bottom: 1px;
    right: 8px;
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg)
}

@media screen and (min-width: 1024px) {
    .service-infos .panel .obj .area.label {
        max-width: 100%;
        -webkit-box-flex: 0;
        flex: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0
    }
    .service-infos .panel .obj .area.label .subject {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-transform-origin: 50% 50% 0;
        transform-origin: 50% 50% 0;
        left: auto;
        right: 100%;
        top: 0;
        margin-top: 0;
        font-size: 14px;
        font-weight: bold;
        height: 15px
    }
    .service-infos .panel .obj .area.label .subject .trigger {
        right: 0;
        bottom: 750px;
        top: auto
    }
    .service-infos .panel .obj .area.label .subject .txt {
        text-align: right;
        left: 80px
    }
    .service-infos .panel .obj .area.label .subject .line {
        left: 100%;
        bottom: auto;
        top: 50%;
        margin-top: -5px;
        margin-left: 5px;
        margin-bottom: 0
    }
    .service-infos .panel .obj .area.label .subject .line .l.l1 {
        -webkit-transform: rotate(125deg);
        transform: rotate(125deg);
        right: 6px
    }
    .service-infos .panel .obj .area.label .subject .line .l.l5,
    .service-infos .panel .obj .area.label .subject .line .l.l4,
    .service-infos .panel .obj .area.label .subject .line .l.l3,
    .service-infos .panel .obj .area.label .subject .line .l.l2 {
        display: none
    }
}

.service-infos .panel.info1 {
    padding-bottom: 150px
}

@media screen and (min-width: 1024px) {
    .service-infos .panel.info1 .inner {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between
    }
    .service-infos .panel.info1 .inner .objs {
        min-height: 850px;
        width: 628px;
        position: relative;
        -webkit-box-flex: 0;
        flex: none;
        margin-right: 3.5rem
    }
    .service-infos .panel.info1 .inner .objs .obj {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        margin-top: 0
    }
    .service-infos .panel.info1 .inner .objs .obj.obj2 {
        left: 328px;
        -webkit-transform: translateY(170px);
        transform: translateY(170px)
    }
}

.service-infos .panel.info2 {
    background-color: #1a1a1a
}

.service-infos .panel.info2 .titlebar {
    color: #fff;
    margin-bottom: 60px
}

.service-infos .panel.info2 .img-wrap {
    margin-left: 30px
}

.service-infos .panel.info2 .img {
    max-width: 287px;
    margin: 0 3.5rem;
    background-color: #000;
    -webkit-transition: all 2.5s;
    transition: all 2.5s;
    position: relative;
    box-sizing: border-box;
    left: 0;
    top: 0
}

.service-infos .panel.info2 .img img {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    -webkit-transition: all 2.5s;
    transition: all 2.5s
}

.service-infos .panel.info2 .img.visible {
    left: 20px;
    top: 20px
}

.service-infos .panel.info2 .img.visible img {
    left: -50px;
    top: -50px
}

@media screen and (min-width: 1024px) {
    .service-infos .panel.info2 .inner {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center
    }
    .service-infos .panel.info2 .titlebar {
        -webkit-box-flex: 1;
        flex: 1;
        -webkit-box-ordinal-group: 3;
        order: 2
    }
    .service-infos .panel.info2 .titlebar .desc br:nth-child(1) {
        display: none
    }
    .service-infos .panel.info2 .img-wrap {
        -webkit-box-flex: 1;
        flex: 1;
        -webkit-box-ordinal-group: 2;
        order: 1
    }
    .service-infos .panel.info2 .img {
        max-width: 411px
    }
}

.service-infos .panel.info3 {
    background-color: #fff;
    padding-bottom: 30rem
}

.service-infos .panel.info3 .titlebar {
    text-align: right
}

.service-infos .panel.info3 .titlebar h3 {
    font-size: 3rem
}

@media screen and (min-width: 1024px) {
    .service-infos .panel.info3 {
        padding-bottom: 7rem
    }
    .service-infos .panel.info3 .inner {
        position: relative;
        padding-left: 2rem;
        padding-right: 2rem
    }
    .service-infos .panel.info3 .inner .obj {
        width: 300px;
        position: relative;
        -webkit-box-flex: 0;
        flex: none;
        float: right;
        margin-top: 0
    }
    .service-infos .panel.info3 .inner:after {
        display: block;
        content: '';
        clear: both
    }
    .service-infos .panel.info3 .titlebar {
        position: absolute;
        right: 300px;
        top: 50%;
        padding: 0;
        margin-right: 4rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: -120px
    }
    .service-infos .panel.info3 .titlebar h3 {
        font-size: 4rem
    }
    .service-infos .panel.info3 .titlebar h3 br:nth-child(4) {
        display: none
    }
}

@-webkit-keyframes notificationMove {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    30% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    100% {
        -webkit-transform: sacle(1);
        transform: sacle(1)
    }
}

@keyframes notificationMove {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    30% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    100% {
        -webkit-transform: sacle(1);
        transform: sacle(1)
    }
}

.service-infos .panel.info4 .notification {
    margin-top: 20px;
    padding: 0 15px
}

.service-infos .panel.info4 .notification .item {
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    padding: 15px 10px 15px 72px;
    min-height: 52px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    margin-top: -20px;
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}

.inquiry {
    text-align: center;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center
}

.inquiry .short-time {
    font-family: NanumMyeongjo, sans-serif;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1.2
}

.inquiry .desc {
    margin-top: 15px
}

.inquiry a {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 250px;
    height: 5.2rem;
    line-height: 5.2rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2.6rem;
    font-size: 1.4rem;
    background-color: #fff;
    font-weight: bold
}

@media screen and (min-width: 769px) {
    .inquiry {
        min-height: 0;
        padding: 20rem 0 10rem 0
    }
    .inquiry a {
        font-size: 1.6rem
    }
}

body {
    background-color: #fff;
    margin: 0;
    font-family: LatoReg;
    
}

.info4{
    .inner{
        text-align: center;
        .titlebar{
            font-weight: bold;
            text-transform: uppercase;
            font-size: 50px;
            font-family: Lato;
            font-style: normal;
        }
        .brand{
            display: flex;
            align-items:center;
            flex-wrap: wrap;
            justify-content: space-between;
            .lgos{
                img{
                    width: 300px;
                }
            }
        }
    }
}
.same{
    position:relative;
    background-size:auto;
    background-repeat:no-repeat;    
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    .inner{
        position: absolute;
        text-align: center;
        p{
            font-family: Lato;
            text-transform: uppercase;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 40px;
            margin: 0 auto;
        }
        button{
            margin-top: 40px;
            background: #ED2243;
            padding:15px 40px;
            color: #ffff;
            border: unset;
            border-radius: 30px;
            font-size: 20px;
        }
    }
}
.info5{
    background-image:url('images/bgif5.png');
    .inner{
        left: 5%;
        bottom: 40%;
        p{
            width: 60%;
        }
    }
}
.info6{
    background-image:url('images/bgif6.png');
    .inner{
        right: 10%;
        top: 40%;
        p{
            width: 72%;
        }
    }
}
.info7{
    .inner{
        text-align: center;
        padding:50px 0px 85px 0px;
        h1{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
        }
        p{
            font-weight: normal;
            font-size: 24px;
            margin:35px 0px;
        }
        .group-button{
            a{
                margin: 0 20px;
            }
            margin: 0 auto;
            img{
                border-radius: 20px;
                box-shadow: 4px 4px 15px 0px #cbcbcb;
            }
        }
    }
}
.footer{
    background: #1A1A1A;
    text-align: center;
    color: #FFFFFF;
    ul{
        display: -webkit-inline-box;
        list-style-type: none;
        li{
            margin:0 5px;
            a{
                text-decoration:none;
                color: #ffffff;
            }
        }
    }
    p{
        margin: 0px;
    }
    .coppyright{
        padding:20px 0px;
    }
}

@media screen and (max-width: 625px) {
    .service-infos .info4 .inner .brand{
        flex-direction: column !important;
    }
    .service-infos .panel.info3 {
        .obj4 .area.label{
            min-width: 120px;
            .subject{
                font-size: 2.2rem;
                &:nth-child(3){
                    left: -166%;
                    max-width: calc(100vw - 20px);
                    .txt{
                        left: -6%;
                        top: 20px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 460px) {
    .service-infos .panel.info3 .obj4 .area.label .subject:nth-child(3) {
        max-width: calc(100vw - 134px);
        .txt{
            left: 23px;
        }
    }
}

@media screen and (max-width: 385px) {
    .service-infos .panel.info3 .obj4 .area.label .subject:nth-child(3) {
        max-width: calc(100vw - 134px);
        .txt{
            left: 96px;
        }
    }
}